<div class="sidebar">
                    <a class="btn_create" href="{:U('Home/CompanyJob/create')}">
                        发布新职位
                    </a>
                    <dl class="company_center_aside">
                        <dt>
                            我收到的简历
                        </dt>
                        <dd <if condition="[nav] eq 'unhandle'">class="current"</if>>
                            <a href="{:U('Home/ResumeHandle/unhandle')}">
                                待处理简历
                            </a>
                        </dd>
                        <dd <if condition="[nav] eq 'forward'">class="current"</if>>
                            <a href="{:U('Home/ResumeHandle/showAudition')}">
                                已通知面试简历
                            </a>
                        </dd>
                        <dd <if condition="[nav] eq 'notpass'">class="current"</if>>
                            <a href="{:U('Home/ResumeHandle/showNotpass')}">
                                不合适简历
                            </a>
                        </dd>
                    </dl>
                    <dl class="company_center_aside">
                        <dt>
                            我发布的职位
                        </dt>
                        <dd <if condition="[nav] eq 'positions'">class="current"</if>>
                            <a href="{:U('Home/CompanyJob/positions')}">
                                有效职位
                            </a>
                        </dd>
                        <dd <if condition="[nav] eq 'invalid'">class="current"</if>>
                            <a href="{:U('Home/CompanyJob/invalid')}">
                                已下线职位
                            </a>
                        </dd>
                    </dl>
                    <div class="subscribe_side mt20">
                        <div class="f14">
                            想收到更多更好的简历？
                        </div>
                        <div class="f18 mb10">
                            就用拉勾招聘加速助手
                        </div>
                        <div>
                            咨询：
                            <a class="f16" href="mailto:jessica@lagou.com">
                                jessica@lagou.com
                            </a>
                        </div>
                        <div class="f18 ti2em">
                            010-57286512
                        </div>
                    </div>
                    <div class="subscribe_side mt20">
                        <div class="f14">
                            加入互联网HR交流群
                        </div>
                        <div class="f18 mb10">
                            跟同行聊聊
                        </div>
                        <div class="f24">
                            338167634
                        </div>
                    </div>
                </div>