<extend name="Public/base" />


{// 导航}
<block name="breadcrumb">
<li class="active">公司审核列表</li>
</block>

{// 左侧菜单}
<block name="sidebar">
	<include file="Public/sidebar" nav="company"/>
</block>

{// 主体}
<block name="main">
<div class="row-fluid">
	<h3 class="header blue lighter smaller">
		<form action="{:U('Admin/Company/index')}" method="get">
		<div class="row-fluid  dataTables_wrapper">
			
		</div>
		</form>
	</h3>
	<div class="table-header">公司审核列表</div>
	<table id="data_table" class="table table-striped table-bordered table-hover" style="margin-bottom:0px;">
		<thead>
			<tr>
				<th class="center" width="5%">
					<label>
						<input type="checkbox" class="ace" />
						<span class="lbl"></span>
					</label>
				</th>
				<th width="6%">公司LOGO</th>
				<th width="6%">营业执照</th>
				<th>公司名称(简称)</th>
				<th width="6%">状态</th>
				<th width="8%">操作</th>
			</tr>
		</thead>

		<tbody>
			<?php foreach ($data as $key => $val): ?>
				<tr>
					<td class="center">
						<label>
							<input type="checkbox" class="ace" />
							<span class="lbl"></span>
						</label>
					</td>
					<td>
						<span data-original-title="{$val.name}信息" data-rel="popover" class="tooltip-info" data-content="电话：{$val.tel}<br/>邮箱：{$val.email}<br/>公司领域：<b class='orange'>{$val.trade}</b><br/>公司网站：<a href='http://{$val.web}' target='_blank'>{$val.web}</a><br/>城市：{$val.city}<br/>规模人数：{$val.scale}<br/>发展阶段：{$val.stage}<br/>公司描述：{$val.desc}<br/>一句话：{$val.one_desc}">
							<?php if (empty($val['logo'])): ?>
							<?php $val['logo'] = '/Public/Assets/images/dimg.jpg'; ?>
							<?php endif ?>
							<img src="{$val.logo}" style="width:45px;height:45px;cursor:pointer;">
						</span>
					</td>
					<td>
						<a data-rel="tooltip" data-original-title="点击查看大图" href="/Uploads/Company/Auth/{$val.id}.JPEG" target="_blank"><img src="/Uploads/Company/Auth/{$val.id}.JPEG" style="width:45px;height:45px;cursor:pointer;"></a>
					</td>
					<td>{$val.name}【{$val.short_name}】</td>
					<td>待审核</td>
					<td>
						<div class="hidden-phone visible-desktop action-buttons">
							<a href="javascript:;" class="blue tooltip-info no-hover-underline" data-rel="tooltip" data-original-title="审核通过" onclick="$.check('{:U('Admin/Company/check', array('id'=>$val['id']))}');">
								<i class="icon-legal bigger-130"></i>
							</a>
						</div>
					</td>
				</tr>
			<?php endforeach ?>
		</tbody>
	</table>
	<!-- 分页 -->
	<div class="row-fluid">
		<div class="page">{$page}</div>
	</div>
</div>
</block>

{// js}
<block name="js">
	<script type="text/javascript">
			jQuery(function($) {

				// 这就是全选按钮
				$('table th input:checkbox').on('click' , function(){
					var that = this;
					$(this).closest('table').find('tr > td:first-child input:checkbox')
					.each(function(){
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
					});	
				});

				$.extend({

					check : function(url)
					{
						$.lagou.confirm('确认审核通过么？', function(res){
							if (res) {
								$.get(url, function(response){
									$.lagou.alert(response.msg, response.code, 2);
									location.reload(0);
								});
							}
						});
					}
				});
			
			})
		</script>
</block>