<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>拉勾网-最专业的互联网招聘平台</title>
        <meta property="qc:admins" content="23635710066417756375">
        <meta content="拉勾网是3W旗下的互联网领域垂直招聘网站" name="description">
        <meta content="拉勾,拉勾网,拉勾招聘,拉钩, 拉钩网 ,互联网招聘,拉勾互联网招聘, 移动互联网招聘, 垂直互联网招聘, 微信招聘, 微博招聘, 拉勾官网, 拉勾百科,跳槽, 高薪职位, 互联网圈子, IT招聘, 职场招聘, 猎头招聘,O2O招聘, LBS招聘, 社交招聘, 校园招聘, 校招,社会招聘,社招"
        name="keywords">
        <script src="__PUBLIC__/HomeStyle/js/analytics.js" async=""></script>
        <link rel="Shortcut Icon" href="http://www.lagou.com/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/HomeStyle/css/style_002.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/HomeStyle/css/style.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/HomeStyle/css/external.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/HomeStyle/css/popup.css">
        <script src="__PUBLIC__/HomeStyle/js/jquery.js" type="text/javascript"></script>
        <script type="text/javascript" src="__PUBLIC__/HomeStyle/js/jquery_002.js"></script>
        <script src="__PUBLIC__/HomeStyle/js/ajaxfileupload.js" type="text/javascript"></script>
        <script type="text/javascript" src="__PUBLIC__/HomeStyle/js/jquery.ui.datetimepicker.min.js"></script>
        <!--[if lte IE 8]>
            <script type="text/javascript" src="http://www.lagou.com/js/assets/excanvas.js?v=1.5.5.6_1022">
            </script>
        <![endif]-->
        <style>
        	.resume_fit {
                width: 106px;
            }
            .resume_link a {
                width:100px;
            }
            .resume_link a:hover {
                color:#777;
            }
            .resume_intro em {
                background: url("__PUBLIC__/HomeStyle/images/corp/unread.png") no-repeat scroll 5px -17px rgba(0, 0, 0, 0);
            }
        </style>
    </head>
    
    <body>
        <div id="body">
            <include file="Public/header" nav="handle" />
            <!-- end #header -->
            <div id="container">
                <include file="Public/sidebar" nav="notpass" />
                <!-- end .sidebar -->
                <div class="content">
                    <dl class="company_center_content">
                        <dt id="autofiletitle">
                            <h1>
                                <em>
                                </em>
                                不合适简历
                                <span>
                                    （共{$num}份）
                                </span>
                            </h1>
                        </dt>
                        <dd>
                            <form id="filterForm" method="get" action="http://hr.lagou.com/interview/haveRefuselist.html">
                            	<empty name="send">
                            	<div class="no_resume_tip no_resume_home">你暂时还没有拒绝过任何人哦~</div>
                            	<else />
                                <!-- <div class="filter_actions">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                        <i></i>
                                    </label>
                                    <span class="mf12">
                                        全选
                                    </span>
                                    <a href="javascript:;" class="mark_nofit" id="resumeDelAll">
                                        删除
                                    </a>
                                    <a href="javascript:;" class="mark_nofit" id="resume_empty">
                                        清空
                                    </a>
                                    <ul class="filter_btn reset">
                                        <li id="filter_btn2">
                                            <span>
                                                筛选简历
                                            </span>
                                            <i>
                                            </i>
                                        </li>
                                    </ul>
                                </div> -->
                                <!-- end .filter_actions -->
                               <!--  <input value="1" id="pageNo" type="hidden">
                                <input value="1" id="totalPageCount" type="hidden">
                                <div class="filter_options">
                                    <dl>
                                        <input name="defaultCondition" value="true" id="defaultCondition" type="hidden">
                                        <dt>
                                            简历状态：
                                        </dt>
                                        <dd>
                                            <a class="current" rel="-1">
                                                不限
                                            </a>
                                            <a rel="1">
                                                未阅读
                                            </a>
                                            <a rel="2">
                                                已阅读
                                            </a>
                                            <a rel="3">
                                                已转发
                                            </a>
                                            <input name="statusFilter" value="-1" type="hidden">
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            工作经验：
                                        </dt>
                                        <dd>
                                            <a class="current" rel="0">
                                                不限
                                            </a>
                                            <a rel="1">
                                                应届毕业生
                                            </a>
                                            <a rel="2">
                                                1年以下
                                            </a>
                                            <a rel="3">
                                                1-3年
                                            </a>
                                            <a rel="4">
                                                3-5年
                                            </a>
                                            <a rel="5">
                                                5-10年
                                            </a>
                                            <a rel="6">
                                                10年以上
                                            </a>
                                            <input name="workExp" value="0" type="hidden">
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            最低学历：
                                        </dt>
                                        <dd>
                                            <a class="current" rel="-1">
                                                不限
                                            </a>
                                            <a rel="1">
                                                大专及以上
                                            </a>
                                            <a rel="2">
                                                本科及以上
                                            </a>
                                            <a rel="3">
                                                硕士及以上
                                            </a>
                                            <a rel="4">
                                                博士及以上
                                            </a>
                                            <input name="eduCode" value="-1" type="hidden">
                                        </dd>
                                    </dl>
                                    <input id="positionId" name="positionId" value="" type="hidden">
                                </div> -->
                                <!-- end .filter_options -->
                                <ul class="resume_lists">
                                	<foreach name="send" item="sendVal">
                                    <li data-flag="{$sendVal.id}">
                                        <span class="resume_header2">
                                            <span class="time">
                                                {$sendVal.state1_time|date="Y-m-d H:i:m", ###}
                                            </span>
                                            <!-- <label class="checkbox">
                                                <input type="checkbox">
                                                <i>
                                                </i>
                                            </label> -->
                                            <span class="employee">
                                                应聘：
                                                <a class="employee_position" href="#####"
                                                title="{$sendVal.job_name}" target="_blank">
                                                    {$sendVal.job_name}
                                                </a>
                                            </span>
                                        </span>
                                        <div class="resume_show">
                                            <a href="{:U('Home/ResumeHandle/show', array('id'=>$sendVal['user_id'], 'sid'=>$sendVal['id']))}" class="resumeImg"
                                            target="_blank" title="预览附件简历">
                                               <if condition="$sendVal['user']['image'] eq ''">
                                               <img src="__PUBLIC__/HomeStyle/images/icon_file.png" height="69" width="69">
                                               <else />
                                               <img src="/Uploads/User/image/{$sendVal.user.image}" height="69" width="69">
                                               </if>
                                            </a>
                                            <a href="{:U('Home/ResumeHandle/show', array('id'=>$sendVal['user_id'], 'sid'=>$sendVal['id']))}" target="_blank"
                                            class="hotspace">
                                                <div class="resume_intro" data-flag="{$sendVal.id}">
                                                    {$sendVal.user.name} / {$sendVal.user.sex} / {$sendVal.user.work_year} / {$sendVal.hope.city}
                                                    <if condition="$sendVal.read eq 0">
                                                    <em class="read"></em>
                                                    <else />
                                                    <em></em>
                                                    </if>
                                                    <empty name="sendVal.work">
                                                    <else />
                                                    <br>
                                                    {$sendVal.work.job} · {$sendVal.work.company}
                                                    <br>
                                                    </empty>
                                                    <empty name="sendVal.edu">
                                                    <else />
                                                    {$sendVal.edu.school} · {$sendVal.edu.professional} · {$sendVal.edu.education}
                                                    </empty>
                                                </div>
                                            </a>
                                            <div class="resume_link nolook_phone">
                                                <if condition="$sendVal.state2 eq 0">
                                                <span>
                                                    未查看联系方式
                                                </span>
                                                <else />
                                                <a class="phone" href="javascript:;">{$sendVal.user.phone}</a>
                                                <a class="resume_color phone" title="247678652@qq.com" href="javascript:;">{$sendVal.user.email}</a>
                                                </if>
                                            </div>
                                            <div class="resume_fit resume_del2">
                                                <a href="javascript:;" class="resume_del">
                                                    删除
                                                </a>
                                            </div>
                                        </div>
                                    </li>
	                                </foreach>
                                </ul>
	                            </empty>
                                <!-- end .resumeLists -->
                            </form>
                        </dd>
                    </dl>
                    <!-- end .company_center_content -->
                </div>
                <!-- end .content -->
                <!-- 点击清空按钮弹窗 -->
                <div style="display:none">
                    <div id="empty_resume" class="popup">
                        <div>
                            确定要清空“不合适”中的所有简历吗？
                        </div>
                        <form id="emptyResumeForm">
                            <!-- <label><em></em><input type="checkbox"/>不再提示</label> -->
                            <label for="noPrompt" class="notice_noprompt" checked="true">
                                <em>
                                </em>
                                <input id="noPrompt" name="checkbox" class="checkbox valid" type="checkbox">
                                不再提示
                            </label>
                            <a href="javascript:;" id="confirmEmpty">
                                确定
                            </a>
                        </form>
                    </div>
                </div>
                <script type="text/javascript" src="__PUBLIC__/HomeStyle/js/jquery_003.js"></script>
                <div class="clear"></div>
                <input id="resubmitToken" value="" type="hidden">
                <a style="display: inline;" id="backtop" title="回到顶部" rel="nofollow">
                </a>
            </div>
            <!-- end #container -->
        </div>
        <!-- end #body -->
        <include file="Public/footer" />
        <script type="text/javascript" src="__PUBLIC__/HomeStyle/js/core.js"></script>
        <script type="text/javascript" src="__PUBLIC__/HomeStyle/js/tongji.js"></script>
        <!-- -->
        <script type="text/javascript" src="__PUBLIC__/HomeStyle/js/analytics_002.js"></script>
        <script src="__PUBLIC__/HomeStyle/js/h.js" type="text/javascript"></script>
        <script type="text/javascript">
	        jQuery(function($) {
	        	$(".resume_del").click(function() {
			        var a = $(this),
			        b = a.parents("li").attr("data-flag"),
			        c = $("#resubmitToken").val();
			        return confirm("确定要删除该简历吗？") ? ($.ajax({
			            type: "POST",
			            url: 'delete',
			            data: {
			                deliverIds: b,
			                resubmitToken: c
			            },
			            dataType: "json"
			        }).done(function(a) {
			            $("#resubmitToken").val(a.resubmitToken),
			            3 == a.state ? top.location.href = top.location.href: alert(a.message)
			        }), void 0) : !1
				})
	        })
        	
        </script>
    </body>
</html>